/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/*
/certs/*
/certificates/*
*.bundle
*.bundle.*
*.so
*.so.*
*.dylib
*.dylib.*
lib/quicsilver/quicsilver.bundle
*.gem
autoresearch.*
ext/quicsilver/Makefile
